{% extends "base.html" %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart-summary.css' %}">
{% endblock %} 

{% block extra_meta %}
<meta name="description" content="Review and manage your vape product selections at the World Vape Center shopping cart. Explore a variety of e-cigarettes, e-liquids, and accessories in your cart. Securely proceed to checkout and enjoy a fast order confirmation process.">
<meta name="keywords" content="shopping cart, vape products, e-cigarettes, e-liquids, cart review, secure checkout">
{% endblock %}

{% block extra_title %}- Shopping Cart{% endblock %}


{% block breadcrumb %}
<div class="container">
    <nav aria-label="breadcrumb" class="d-none bc-con w-100">
        <ol class="bg-none mt-3 list-unstyled d-flex">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'cart-summary' %}">Cart</a></li>
            <li class="breadcrumb-item"><a href="{% url 'checkout' %}">Checkout</a></li>
            <li class="breadcrumb-item">Order Success</li> 
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="h5">Shopping cart</h1>
    <hr>
    <div class="row mb-5">
        <div class="col-sm-8">
            {% for item in cart %} 
            {% with product=item.product %}
            <div class="card border shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-start border-bottom pb-3">
                        <div class="me-4">
                            <img
                                class="img-fluid mx-auto d-block"
                                width="100px"
                                alt="Responsive image"
                                src="{{ product.image.url }}">
                            <!-- Product image -->
                        </div>
                        <div class="flex-grow-1 align-self-center overflow-hidden">
                            <div>
                                <a
                                    href="{% url 'product_details' product.category.slug product.slug %}"
                                    class="text-info text-decoration-none">
                                    <!-- Product get absolute url -->
                                    <h5 class="h5 pt-2">{{product.name}}<!-- Product title --></h5>
                                </a>
                                {% include 'components/ratings.html' with product=product %}
                                {% if item.product_choice %}
                                    <p class="mb-0 mt-1">{{ product.options_name }}: <span class="fw-medium">{{ item.product_choice }}</span></p>
                                {% endif %}
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <form class="like-form d-inline mr-2 ml-4" action="{% url 'add_to_favorites' product.id %}" method="POST">
                            {% csrf_token %}
                            <button class="like btn btn-warning text-white" type="submit" aria-label="add to favourites">
                                <span class="fa fa-heart"></span>
                            </button>
                        </form>
                        {% endif %}
                        <form method="post" action="{% url 'cart-delete' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button class="btn btn-danger" type="submit">X</button>
                        </form>
                    </div>

                    <div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Price</p>
                                    {% if product.discounted_price %}
                                        <h5 class="mb-0 mt-2">€ {{ product.discounted_price }} - <span class="text-muted me-2"><del class="font-size-16 fw-normal">€ {{product.price }}</del></span></h5>
                                    {% else %}
                                        <h4 class="price text-muted"><span class="price-amount">€ {{ product.price }} </span></h4>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mt-3">
                                    <form method="post" action="{% url 'cart-update' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="select{{product.id}}" class="text-muted mb-2">Quantity</p>
                                        <div class="d-inline-flex">
                                            <select
                                                id="select{{product.id}}" name="product_quantity"
                                                class="form-select form-select-sm w-xl" >
                                                <option selected>
                                                    {{item.qty}}
                                                </option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button class="btn btn-success" type="submit">Update</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Total</p>
                                    <h5>
                                        € {{ item.total }} 
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endwith %} 
            {% endfor %}

        </div>

        <!-- end row-->

        <div class="col-sm-4">
            <div class="mt-5 mt-sm-0">
                <div class="card border shadow-none">
                    <div class="card-header bg-transparent border-bottom py-3 px-4">
                        <h5 class="font-size-16 mb-0">
                            Order Summary <span class="float-end">(#{{ cart.get_order_num }})</span>
                        </h5>
                    </div>
                    <div class="card-body p-4 pt-2">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody> 
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td class="text-end">€{{ cart.get_subtotal }}</td>
                                    </tr>
                                    {% if cart.get_discounted_total %}
                                        <tr>
                                            <td>Discount :</td>
                                            <td class="text-end">€{{ cart.get_discounted_total }}</td>
                                        </tr>
                                    {% endif %}
                                   
                                    <tr>
                                        <td>Shipping Charge :</td>
                                        <td class="text-end">{% if cart.get_delivery_cost %}€ {{ cart.get_delivery_cost }}{% else %}<span class="h6 text-success">Free Delivery</span>{% endif %}</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Total :</th>
                                        <td class="text-end">
                                            <span class="fw-bold">€{{ cart.get_grand_total }} </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>        
            <div class="d-flex flex-column flex-lg-row justify-content-between">
                <a href="{% url 'categories' %}" class="btn btn-info text-white continue-shopping">
                    <i class="mdi mdi-arrow-left"></i> Continue Shopping
                </a>
            
                <a href="{% url 'checkout' %}" class="btn btn-success mt-4 mt-lg-0">
                    <i class="mdi mdi-cart-outline me-1"></i> Checkout
                    <i class="mdi mdi-arrow-right"></i>
                </a>
            </div>
                <!-- end col -->
        </div>
    </div>
    <!-- end row -->
</div>
{% if discounted_products %}
    <div class="bbb_viewed container-fluid bg-transparent p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                <div class="bbb_main_container">
                    <div class="bbb_viewed_title_container">
                        <h3 class="bbb_viewed_title">Discounted products</h3>
                        <div class="bbb_viewed_nav_container">
                            <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                            <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>
                    <div class="bbb_viewed_slider_container">
                        <div class="owl-carousel owl-theme bbb_viewed_slider">
                            {% for product in discounted_products %}
                                <div class="owl-item">
                                    <a href="{% url 'product_details' product.category.slug product.slug %}" class="btn text-hover">
                                    <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="{{ product.image.url }}" alt="product image"></div>
                                        <div class="bbb_viewed_content text-center">
                                            {% if product.discounted_price %}
                                            <div class="bbb_viewed_price">Price: € {{ product.discounted_price }} <span>{{ product.price }} </span></div>
                                            {% else %}
                                            <div class="bbb_viewed_price">Price: € {{ product.price }} </div>
                                            {% endif %}
                                            <div class="bbb_viewed_name">{{ product.name }}</div>
                                        </div>
                                        {% if product.discount_percentage %}
                                        <span class="percentage text-danger text-bold font-weight-bold">{{ product.discount_percentage }}</span>
                                        {% endif %}
                                    </div>
                                </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
