{% extends "base.html" %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="position-relative">
        <a href="{% url 'categories' %}" role="button">
            <img src="{% static 'hero-wvc.png' %}" class="w-100">
        </a>
    </div>
    <!-- Jumbotron -->

    <div class="bbb_viewed">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                   <div class="bbb_main_container">
                    <div class="bbb_viewed_title_container">
                        <h3 class="bbb_viewed_title">Best selling products</h3>
                        <div class="bbb_viewed_nav_container">
                            <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                            <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>
                    <div class="bbb_viewed_slider_container">
                        <div class="owl-carousel owl-theme bbb_viewed_slider">
                            {% for product in top_rated_products %}
                                <div class="owl-item">
                                    <a href="{% url 'product_details' product.category.slug product.slug %}" class="btn text-hover">
                                    <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="{{ product.image.url }}" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            {% if product.discounted_price %}
                                            <div class="bbb_viewed_price">Price: € {{ product.discounted_price }} <span>{{ product.price }} </span></div>
                                            {% else %}
                                            <div class="bbb_viewed_price">Price: € {{ product.price }} </div>
                                            {% endif %}
                                            <div class="bbb_viewed_name">{{ product.name }}</div>
                                        </div>
                                        {% if product.discount_percentage %}
                                            <ul class="item_marks">
                                                <li class="item_mark item_discount">{{ product.discount_percentage }}</li>
                                                <li class="item_mark item_new">new</li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_postloadjs %}  
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>

<script src="{% static 'home/js/home.js' %}"></script>

{% endblock %}   