{% extends 'profile/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block profile %}
<div class="max-w-3xl mx-auto">
    <!-- Account details card -->
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-lg font-semibold border-b pb-2 mb-4">Shipping Details</h2>
        <form method="post" action="{% url 'shipping_address_view' %}" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form | crispy }}
            <!-- Save changes button -->
            <button class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition">
                Save Changes
            </button>
        </form>
    </div>
</div>
{% endblock %}
