<!--
Template for displaying and editing user shipping details.

This template renders a form for users to view and edit their shipping details.

Contents:
- Form for editing user shipping details.
- Card with a header indicating "Shipping Details."
-->
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Shipping Details</div>
        <div class="card-body">
            <form method="post" action="{% url 'shipping_address_view' %}" enctype="multipart/form-data">
                {% csrf_token %}               
                {{ shipping_address_form | crispy }}
                <!-- Save changes button-->
                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>

