<!--
Template for displaying user favorites in a card format.

This template renders a card displaying user favorites, including product
images, names, prices, and a button to remove the product from favorites.

Contents:
- Card header with the title "Favourites."
- Body of the card containing a loop to display each favorite product.
- If there are no favorites, a message is displayed with a link to return to products.
-->
{% extends 'profile/base.html' %}

{% block profile %}
<div class="card card-header-actions mb-4">
    <h1 class="text-lg font-semibold border-b pb-2 mb-4">
        Favourites
    </h1>
    <div class="card-body px-0">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
        {% for product in favourites %}
           {% include "includes/product_card.html" with products=product %}
        {% empty %}
            <div class="flex-col h-screen col-span-4 flex px-4">
                <h3 class="text-center my-5">No Favourites Added</h3>
                <a class="rounded-lg p-3 bg-button hover:bg-buttonHover text-white my-5 mx-auto" href="{% url 'products_list' %}">
                    Back To Products
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}