{% extends 'profile/base.html' %}
{% load crispy_forms_tags %}

{% block profile %}
    <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data" class="w-full mx-auto">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Profile Picture Section -->
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-lg font-semibold border-b pb-2 mb-4">Profile Picture</h2>
                <div class="flex flex-col items-center">
                    {% if request.user.profile_image %}
                        <img class="w-32 h-32 object-cover rounded-full border border-gray-300 mb-2" src="{{ request.user.profile_image.url }}" alt="Profile picture">
                    {% else %}
                        <div class="rounded-full w-32 h-32 bg-gray-200 flex items-center justify-center text-gray-600 text-4xl">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    {% endif %}
                    <p class="text-sm text-gray-500 mt-2">JPG or PNG no larger than 5 MB</p>
                </div>
            </div>

            <!-- Account Details Section -->
            <div class="col-span-2 bg-white shadow-md rounded-lg p-6">
                <h2 class="text-lg font-semibold border-b pb-2 mb-4">Account Details</h2>
                <div class="space-y-4">
                    {{ user_form | crispy }}
                </div>
                <button class="mt-4 w-full bg-button hover:bg-buttonHover text-buttonText py-2 px-4 rounded transition">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
{% endblock %}
