{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %} 


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_meta %}
<meta name="description" content="Securely complete your vape product purchase at the world vape center. Fast and easy checkout process for e-cigarettes, e-liquids, and accessories. Provide shipping details and payment information to enjoy your vaping products soon.">
<meta name="keywords" content="checkout, vapes, cheap vapes, online checkout, e-cigarettes">
{% endblock %}
{% block extra_title %}- Checkout{% endblock %}

{% block breadcrumb %}
<div class="container p-0 mt-4">
    <nav aria-label="breadcrumb" class="d-none bc-con w-100">
        <ol class="bg-none mt-3 list-unstyled d-flex">
            <li class="breadcrumb-item" ><a href="{% url 'cart-summary' %}">Cart</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'checkout' %}">Checkout</a></li>
            <li class="breadcrumb-item">Order Success</li> 
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container my-3">
        <div class="row">
            <div class="col pl-0">
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h3 class="font-size-16 mb-0 h5">
                                Order Summary <span class="float-end">(#{{ cart.get_order_num }})</span>
                            </h3>
                        </div>
                        <div class="card-body p-4 pt-2">
                            {% for item in cart %}
                                <div class="row mb-4">
                                    <div class="col-2 mb-1">
                                        <a href="{% url 'product_details' item.product.category.slug item.product.id %}" aria-label="{{ item.product.name }}">
                                            {% if item.product.image %}
                                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                            {% else %}
                                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small">{% if item.product.options_name %}{{ item.product.options_name |upper }}: {{ item.product_choice|upper }}{% else %}N/A{% endif %}</p>
                                        <p class="my-0 small text-muted">Qty: {{ item.qty }}</p>
                                    </div>
                                    <div class="col-2 text-right">
                                        <p class="my-0 small text-muted">€ {{ item.total }} </p>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>  
                                        <tr>
                                            <td>Sub Total :</td>
                                            <td class="text-end">€ {{ cart.get_subtotal }}</td>
                                        </tr>
                                        {% if cart.get_discounted_total %}
                                            <tr>
                                                <td>Discount :</td>
                                                <td class="text-end">€ {{ cart.get_discounted_total }}</td>
                                            </tr>
                                        {% endif %}
                                      
                                        <tr>
                                            <td>Shipping Charge :</td>
                                            <td class="text-end">{% if cart.get_delivery_cost %}€ {{ cart.get_delivery_cost }}{% else %}<span class="h6 text-success">Free Delivery</span>{% endif %}</td>
                                        </tr>
                                        <tr class="bg-light">
                                            <th>Total :</th>
                                            <td class="text-end">
                                                <span class="fw-bold">€ {{ cart.get_grand_total }} </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-12 col-lg-6 border rounded bg-white py-2">
                <p class="text-muted">*Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <input type="hidden" name="client_secret" value={{ client_secret }}>

                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ profile_detail_form | crispy }}

                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        {{ order_form | crispy }}

                        <div class="form-check form-check-inline float-right mr-0">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                        <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                        Create an account or login to save this information
                                    </button>
                                     <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="account-modal-title">Sign In</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form container card p-3 d-none">
                                                    <p>Already have an account? <a href="#" class="toggle-form btn btn-info">Sign In</a></p>

                                                    <form action="{% url 'sign_up' %}" method="POST">
                                                        {% csrf_token%}

                                                        {{ sign_up_form | crispy }}
                                                        <input type="hidden" name="redirect_url" value="checkout">

                                                        <button type="submit" class="btn btn-success">
                                                            Submit
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="form container card p-3">
                                                    <p>Dont have an account? <a href="#" class="toggle-form btn btn-info">Sign Up</a></p>
                                                    <form action="{% url 'sign_in' %}" method="POST" >
                                                        {% csrf_token%}
                                                        {{ sign_in_form | crispy }}
                                                        <input type="hidden" name="redirect_url" value="checkout">

                                                        <button type="submit" class="btn btn-success">
                                                            Submit
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button d-flex justify-content-between mt-5 mb-2 px-3">                    
						<a href="{% url 'cart-summary' %}" class="btn btn-info">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Back to Cart</span>
						</a>
						<button id="submit-button" class="btn btn-success">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
					</div>
                    <p class="small text-danger my-0 text-right pr-3">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>€ {{ cart.get_grand_total}}</strong></span>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}


{% block extra_postloadjs %}
    {{ client_secret|json_script:'id_client_secret' }}
    {{ stripe_public_key|json_script:'id_stripe_public_key' }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script src="{% static 'checkout/js/account-modal.js' %}"></script>
{% endblock %}