{% comment %} This template is use to generate an email when the user's order is successfull {% endcomment %}
<div style="width: 100%; max-width: 800px; margin: 0 auto; padding: 20px; box-sizing: border-box; font-family: Arial, sans-serif;">
    <hr style="border: 1px solid #ddd;">
    <h2 style="margin-bottom: 20px;">Thank You</h2>
    <hr style="border: 1px solid #ddd;">
    <p style="color: #000;">Your order information is below.</p>

    <div style="border: 1px solid #ddd; padding: 20px; margin-top: 20px;">
        <div style="margin-bottom: 10px;">
            <small style="color: #777;">Order Info:</small>
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Order Number - </p>
            <p style="margin: 0;">{{ order.order_number }}</p>
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Order Date -  </p>
            <p style="margin: 0;">{{ order.date }}</p>
        </div>

        <div style="margin-top: 20px;">
            <small style="color: #777;">Order Details:</small>
        </div>

        {% for item in order.lineitems.all %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">
                {{ item.product.name }}{% if item.product.options_name %} - {{ item.product.options_name }} {{ item.product_option }}{% endif %}
            </p>
            <p style="margin: 0; font-size: small;"> {{ item.quantity }} @ €{{ item.product.price }} each</p>
        </div>
        {% endfor %}

        <div style="margin-top: 20px;">
            <small style="color: #777;">Delivering To:</small>
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Full Name - </p>
            <p style="margin: 0;"> {{ order.full_name }}</p>
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Address 1 - </p>
            <p style="margin: 0;"> {{ order.shipping_address.street_address1 }}</p>
        </div>

        {% if order.shipping_address.street_address2 %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Address 2 - </p>
            <p style="margin: 0;"> {{ order.shipping_address.street_address2 }}</p>
        </div>
        {% endif %}

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Town or City - </p>
            <p style="margin: 0; text-align: right;"> {{ order.shipping_address.town_or_city }}</p>
        </div>

        {% if order.shipping_address.county %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">County -  </p>
            <p style="margin: 0; text-align: right;"> {{ order.shipping_address.county }}</p>
        </div>
      
        {% endif %}

        {% if order.shipping_address.eircode %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Postal Code - </p>
            <p style="margin: 0; text-align: right;"> {{ order.shipping_address.eircode }}</p>
        </div>
        {% endif %}

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Phone Number - </p>
            <p style="margin: 0; text-align: right;"> {{ order.shipping_address.phone_number }}</p>
        </div>
        <div style="margin-top: 20px;">
            <small style="color: #777;">Billing Info:</small>
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Order SubTotal - </p>
            <p style="margin: 0;">€ {{ order.order_total }}</p>
        </div>
        {% if order.discount %}
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <p style="margin: 0; font-weight: bold; color: #000;">Discount - </p>
                <p style="margin: 0;">€ {{ order.discount }}</p>
            </div>
        {% endif %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Delivery - </p>
            <p style="margin: 0;">€ {{ order.delivery_cost }}</p>
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <p style="margin: 0; font-weight: bold; color: #000;">Grand Total - </p>
            <p style="margin: 0;">€ {{ order.grand_total }}</p>
        </div>
    </div>

    <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
        <a href="https://world-vape-center-468f3f7d12a1.herokuapp.com{% url 'home' %}" style="text-decoration: none; color: #fff; background-color: #000; padding: 10px 20px; border-radius: 0;">
            <span style="margin-right: 5px;">
                <i class="fas fa-gifts"></i>
            </span>
            <span style="text-transform: uppercase;">Now check out the latest deals!</span>
        </a>
    </div>
</div>
