* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --magnolia: #F7F0F5;
    --charcoal: #383F51;
    --light-blue: #BAD2F2;
    --muted-green: #87B38D;
    --warn-red: #E94F37;
    --primary-color: linear-gradient(45deg, var(--magnolia), var(--light-blue));
    --light-grey: #f3f7f8;
    --accent-color: #ffcc00;
    --font-size: 16px;
    --headings: 'Roboto', sans-serif; 
    --paragraphs: Arial, sans-serif; 
    --line-height: 1.5;
    --background-color: #f9f9f9;
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --dark-grey: #606060;
    --hover-color: #94bed1;
}


a {
    color: var(--charcoal)
}

#cookies-modal {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: fit-content;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: var(--headings);
}

#reviews, #help {
    scroll-margin-top: 230px;
}

p, a, div, li {
    font-family: var(--paragraphs);
}

h4, h5 {
    color: var(--dark-grey);
}

.messages {
    position: fixed;
    top: 170px;
    z-index: 1010;
    right: 40px;
    transition: opacity 0.5s ease; 
}

body {
    max-width: 2500px;
    margin: 0 auto;
}

main {
    position: relative;
    margin-top: 70px;
}

header {
    max-width: 2500px;
}

.text-hover:hover {
    transition: color 0.5s; 
    color: var(--hover-color); 
}

/* Custom Scrollbar Styles for WebKit Browsers */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff42; /* Set the color of the thumb (the draggable part) */
    border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track (the non-draggable part) */
}

::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}




/* //////////////////// allauth templates //////////////////// */
/* for sign up/sign-in/log-out */
.all-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    margin: 100px 0;
}

.all-auth-container button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #28a745; /* Border color for success theme */
    color: #fff;
    background-color: #28a745; /* Background color for success theme */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
    transition: background-color 0.3s ease;
}

/* Hover effect for the success button */
.all-auth-container button:hover {
    background-color: #218838; /* Darker shade on hover */
}

/* ////////////////////allauth and help pages ///////////////////////////// */
.user_card {
    display: flex;
    justify-content: center;
    height: fit-content;
    justify-content: space-evenly;
    width: 90%;
    min-height: 400px;
    flex-direction: column;
    border-radius: 5px;
    word-wrap: break-word;
}

.user_card input{
    display: block;
    width: 100%;
}

#div_id_remember label {
    display: flex;
}

.brand_logo_container {
    position: relative;
    margin: -61px auto 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
}

.brand_logo {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 2px;
    top: 0;
    box-shadow: 0 2px 4px rgba(40, 167, 69, 0.9); 
}

.user_card input, .user_card button {
    max-width: 100% !important;
    margin-bottom: 5px;
}

.user_card input[type="radio"], .user_card input[type="checkbox"]{
    max-width: fit-content !important;
    display: inline;
}

.user_card .form {
    width: fit-content;
    margin: auto;
    max-width: 500px;
}

.user_card .form textarea {
    width: 100%;
}


