* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #d7d6d681;
    max-width: 2000px;
    margin: 0 auto;
}

/* Custom Scrollbar Styles for WebKit Browsers */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff42; /* Set the color of the thumb (the draggable part) */
    border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track (the non-draggable part) */
}

::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}


/* newsletter */
.nl-input-con {
    width: 90%;
    margin-bottom: 50px;
}

.nl-input-con label {
    display: block;
}

.nl-input-con input{
    border-radius: 20px;
    height: 40px;
    width: 68%;
    padding: 10px;
}

.nl-msg div p {
    padding: 0;
    margin: 0;
}

.nl-msg div {
    padding: 3px;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

header nav .container {
    justify-content: initial !important;
}

header .container {
    padding: 0;
    margin: 0;
}

header form input {
    height: 40px;
    padding: 5px;
}

.navbar li  {
    padding: 0 15px;
}

.navbar li a {
    font-size: 14px;
    font-weight: 600;
}

header .navbar {
    border-radius: 0;
}

.logo {
    width: 50px;
    height: auto;
    background-color: white;
    border-radius: 50%;
}

.search-btn {
    color: white;
    background-color: transparent;
}

.dropdown-toggle:hover {
    height: fit-content;
    text-decoration: none;
}

.badge {
    top: -10px;
    right: 20px;
}

/*-------------- footer styles -------------*/
#footer-sub{
    background-color: #f3f7f8;
    border-top: 1px solid #dbdbdb;
}

#footer-main{
    background-color: #012b72;
}

#footer-sub h5{
    color:#565656;
    margin-top: 25px;
}

#footer-sub ul{
    list-style: none;
    margin-top: 20px;
}

#footer-sub hr{
    margin: 5px;
}

#footer-sub a:link {
    text-decoration: none;
    color:#565656;
    font-size: 12px;
}

#footer-sub a:visited {
    text-decoration: none;
    color:#565656;
}


#footer-sub a:hover {
    text-decoration: none;
    color: blue;
}


#footer-sub a:active {
    text-decoration: none;
    color:#565656;
}

.vertical-line{
    border-right: 1px solid #dbdbdb;
    margin: 8px;
    padding: 0px;
}

footer .glyphicon {
    font-size: 35px;
    color:#6d6c6c;
}

#sub-two{
    margin: 0px;
    padding: 0px;
}

#sub-two .vertical-line h4{
    color:#6d6c6c;
}


#footer-main ul{
    list-style: none;
}

#footer-main ul li{
    float:left;
    text-decoration: none;
    padding-left: 15px;
    margin-top: 17px;
}

#footer-main a:link {
    color:white;
    font-size: 12px;
}

#footer-main a:visited {
    color:white;
}


#footer-main a:hover {
    text-decoration: none;
    color: #00b9f5;
}


#footer-main a:active {
    color:white;
}


#social-menu{
    float: right;
    margin-right: 60px;
}

#side-padding{
    padding: 0px;
    margin: 0px;
}

/* help container  */
.contact .user_card {
    height: fit-content;
    width: 400px;
    margin-top: 150px;
    margin-bottom: 200px;
    background: #57abb889;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.contact .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.contact .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.contact .form_container {
    margin: 100px auto;
}



