* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --magnolia: #F7F0F5;
    --charcoal: #383F51;
    --light-blue: #BAD2F2;
    --muted-green: #87B38D;
    --warn-red: #E94F37;
    --primary-color: linear-gradient(45deg, var(--magnolia), var(--light-blue));
    --light-grey: #f3f7f8;
    --accent-color: #ffcc00;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --line-height: 1.5;
    --background-color: #f9f9f9;
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --dark-grey: #606060;
    --hover-color: #94bed1;
}

h1, h2, h3 {
    font-family: var(--headings);
}

h4, h5 {
    color: var(--dark-grey);
}

.messages {
    position: absolute;
    top: 100px;
    z-index: 1000;
    right: 20px;
    transition: opacity 0.5s ease; 
}

body {
    background: var(--primary-color); 
    max-width: 2500px;
    margin: 0 auto;
}

main {
    position: relative;
    margin-top: 70px;
}

header {
    max-width: 2500px;
}

.text-hover:hover {
    transition: color 0.5s; 
    color: var(--hover-color); 
}

/* Custom Scrollbar Styles for WebKit Browsers */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff42; /* Set the color of the thumb (the draggable part) */
    border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track (the non-draggable part) */
}

::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}

/* newsletter */
.nl-input-con {
    width: 90%;
    margin-bottom: 50px;
}

.nl-input-con label {
    display: block;
}

.nl-input-con input{
    border-radius: 20px;
    height: 40px;
    padding: 10px;
}

.nl-msg div p {
    padding: 0;
    margin: 0;
}

.nl-msg div {
    padding: 3px;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*////////////////// header //////////////////*/
header nav {
    background-color: var(--charcoal);
}
header nav .container {
    justify-content: initial !important;
}

.main-nav .active {
    color: white;
}

header .container {
    padding: 0;
    margin: 0;
}

header form input {
    height: 40px;
    padding: 5px;
}

.navbar li  {
    padding: 0 15px;
}

.navbar li a {
    font-size: 14px;
    font-weight: 600;
}

header .navbar {
    border-radius: 0;
}

.logo {
    width: 50px;
    height: auto;
    background-color: white;
    border-radius: 50%;
}

.search-btn {
    color: white;
    background-color: transparent;
}

.dropdown-toggle:hover {
    height: fit-content;
    text-decoration: none;
}

.badge {
    top: -10px;
    right: 20px;
}

.cart-qty {
    height: fit-content;
    width: fit-content;
    left: 25px;

}


/* ////////////// breadcrumbs /////////////////// */

.bc-con {
    margin: 300px 0;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb a {
    color: gray;
    font-size: 1em;
    font-weight: 500;
}

 /* Custom style for breadcrumb divider */
 .breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    color: gray; /* Change color as needed */
}

.results .card:hover {
    transition: color 0.5s; 
    background-color: var(--hover-color); 
    color: white;
}

/*///////////////// footer styles ////////////////////////*/
#footer-sub{
    background-color: var(--magnolia);
    border-top: 1px solid #dbdbdb;
}

#footer-main{
    background-color: var(--muted-green);
}

#footer-sub h5{
    color:#565656;
    margin-top: 25px;
}

#footer-sub ul{
    list-style: none;
    margin-top: 20px;
}

#footer-sub hr{
    margin: 5px;
}

#footer-sub a:link {
    text-decoration: none;
    color:#565656;
    font-size: 12px;
}

#footer-sub a:visited {
    text-decoration: none;
    color:#565656;
}


#footer-sub a:hover {
    text-decoration: none;
    color: blue;
}

#footer-sub a:active {
    text-decoration: none;
    color:#565656;
}

.vertical-line{
    border-right: 1px solid #dbdbdb;
    margin: 8px;
    padding: 0px;
}

footer .glyphicon {
    font-size: 35px;
    color:#6d6c6c;
}

#sub-two{
    margin: 0px;
    padding: 0px;
}

#sub-two .vertical-line h4{
    color:#6d6c6c;
}

#side-padding{
    padding: 0px;
    margin: 0px;
}

/* //////////////////// allauth templates //////////////////// */
/* for sign up/sign-in/log-out */
.all-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    margin: 100px 0;
}

.all-auth-container button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #28a745; /* Border color for success theme */
    color: #fff;
    background-color: #28a745; /* Background color for success theme */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
    transition: background-color 0.3s ease;
}

/* Hover effect for the success button */
.all-auth-container button:hover {
    background-color: #218838; /* Darker shade on hover */
}

/* ////////////////////allauth and help pages ///////////////////////////// */
.user_card {
    display: flex;
    justify-content: center;
    height: fit-content;
    justify-content: space-evenly;
    width: 90%;
    min-height: 400px;
    background: #57abb889;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    word-wrap: break-word;
}

.user_card input{
    display: block;
    width: 100%;
}

#div_id_remember label {
    display: flex;
}

.brand_logo_container {
    position: relative;
    margin: -61px auto 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
}

.brand_logo {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 2px;
    top: 0;
    box-shadow: 0 2px 4px rgba(40, 167, 69, 0.9); 
}

.user_card input, .user_card button {
    max-width: 100% !important;
    margin-bottom: 5px;
}

.user_card .form {
    width: fit-content;
    margin: auto;
    max-width: 500px;
}

.user_card .form textarea {
    width: 100%;
}

/* ///////////////////////// media queries ///////////////////////// */

@media (max-width: 991.98px) {
    main{
        margin-top: 130px;
    }

    #search-form {
        position: absolute;
        top: 0;
        height: 105vh;
        width: 100vw;
        background: var(--primary-color); 
        z-index: 100;
        padding: 0 0 100px 0;
        align-items:start !important;
    }

    .input-container {
        padding: 20px 10px;
    }
}
