<div id="product-carousel" class="w-full mx-auto">
    <h3 class="text-lg font-montserrat text-buttonHover lg:text-4xl font-semibold my-5 border-b-2 border-buttonHover pb-3">{{ heading }}</h3>

    <!-- Carousel Wrapper -->
    <div class="overflow-x-hidden">
        <div class="flex transition-transform duration-700 ease-in-out" id="carousel-inner">
            {% for product in products %}
                <!-- Individual Product Card -->
                <div class="carousel-slide flex flex-grow flex-shrink-0 basis-full sm:basis-1/2 md:basis-1/3 xl:basis-1/5 p-2">
                    {% include 'includes/product_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="flex gap-5 mt-4">
        <button id="prevBtn" class="w-10 text-black p-2 rounded-lg border-2 border-gray-200">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button id="nextBtn" class="w-10 text-black p-2 rounded-lg border-2 border-gray-200">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
