<a href="{% url 'cart-summary' %}"
	class="relative flex flex-col mr-5 hover:scale-105 transition duration-200 group text-link">
	<span
		class="absolute top-[-10px] right-[-10px] text-sm font-bold w-5 h-5 rounded-full flex items-center justify-center bg-button text-buttonText group-hover:text-buttonTextHover hover:scale-105  ">
		{{ cart|length }}
	</span>
	<i
		class="ml-auto fa-solid fa-cart-shopping text-2xl text-buttonText hover:scale-105 group-hover:text-buttonTextHover"></i>
	<span
		class="text-sm text-buttonText hover:scale-105 group-hover:text-buttonTextHover font-semibold"
		>{{ currency_symbol|default:'€' }}{{ total|floatformat:2|default:0 }}</span
	>
</a>
