<div class="px-3">
<a href="{% url 'cart-summary' %}"
	class="relative flex flex-col mr-2 mt-2 transition duration-200 group text-buttonText underline-hover">
	<span
		class="absolute top-[-10px] right-[-10px] text-sm font-bold w-5 h-5 rounded-full flex items-center justify-center bg-button text-buttonText group-hover:text-buttonTextHover">
		{{ cart|length }}
	</span>
	<i
		class="ml-auto fa-solid fa-cart-shopping text-2xl text-buttonText"></i>
	<span
		class="text-sm text-buttonText  font-semibold"
		>{{ currency_symbol|default:'€' }}{{ cart.get_total_before_shipping|floatformat:2|default:0 }}</span
	>
</a>
</div>