@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .underline-hover {
        @apply relative inline z-0 bg-gradient-to-r from-current to-current bg-no-repeat 
               bg-left-bottom bg-[length:0%_1px] hover:bg-[length:100%_1px] group-hover:bg-[length:100%_1px] 
               transition-all duration-300 decoration-[1px] decoration-current decoration-clone;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}



@layer utilities {
    .clip-path-custom {
      clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0% 100%);
    }
}