.folder-link {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: transparent;
    border-radius: 0 10px 0 0 ;
}

.nav-borders {
    position: absolute;
    z-index: 1000;
    top: -9px;
}

.folder-link:hover {
    background-color: var(--light-grey);
}
.folder-link:focus {
    box-shadow: none !important;
}

.file {
    background-color: #FFF8DC; 
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
}

.nav-borders button {
    background-color: #FFF8DC; 
}

/* ///////////////////////// media queries ///////////////////////// */

/* Media query for screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
    .file {
        border-radius: 10px;
    }
}

