{% extends "dashboard/dashboard.html" %}
{% load crispy_forms_tags %}

{% block dashboard_content %}

 <!-- Billing history card-->
 <div class="card mb-4">
    <div class="card-header d-inline d-flex flex-dir-row">
        <a class="btn btn-link btn-sm m-0 position-absolute" href="{% url 'orders' %}">
            << Back 
        </a>
        <h3 class="mx-auto">{{ status|capfirst }} Order's </h3>
    </div>
    <div class="card-body p-0">
        <!-- Billing history table-->
        <div class="table-responsive table-billing-history">
            {% if forms %}
            <table class="table mb-0 text-nowrap">
                <thead>
                    <tr>
                        <th class="border-gray-200" scope="col">Order number</th>
                        <th class="border-gray-200" scope="col">Date</th>
                        <th class="border-gray-200" scope="col">Amount</th>
                        <th class="border-gray-200" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order, form in forms %}
                    <tr>
                        <td>{{ order.order_number }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.grand_total }}</td>
                        <td><span id="status{{ order.id }}" class="badge bg-light text-dark ">{{ order.status }}</span></td>
                        <td>
                            <button
                                class="btn btn-info"
                                data-toggle="collapse"
                                data-target="#collapse{{order.id}}"
                                aria-expanded="true"
                                aria-controls="collapse{{order.id}}">
                                View More
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div
                                id="collapse{{order.id}}"
                                class="collapse"
                                aria-labelledby="heading{{order.id}}"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-7">
                                            <div class="order-confirmation-wrapper p-2 border">
                                                <div class="row">
                                                    <div class="col">
                                                        <small class="text-muted">Order Info:</small>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Order Number</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.order_number }}</p>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.date }}</p>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col">
                                                        <small class="text-muted">Order Details:</small>
                                                    </div>
                                                </div>
                            
                                                {% for item in order.lineitems.all %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="small mb-0 text-black font-weight-bold">
                                                            {{ item.product.name }}{% if item.product.options_name %} - {{ item.product.options_name }} - {{ item.product_option }}{% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="small mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                            
                                                <div class="row">
                                                    <div class="col">
                                                        <small class="text-muted">Delivering To:</small>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Full Name</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.full_name }}</p>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Address 1</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.shipping_address.street_address1 }}</p>
                                                    </div>
                                                </div>
                            
                                                {% if order.shipping_address.street_address2 %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Address 2</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.shipping_address.street_address2 }}</p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Town or City</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.shipping_address.town_or_city }}</p>
                                                    </div>
                                                </div>
                            
                                                {% if order.shipping_address.county %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">County</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.shipping_address.county }}</p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                
                            
                                                {% if order.shipping_address.eircode %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.shipping_address.eircode }}</p>
                                                    </div>
                                                </div>
                                                {% endif %}
                            
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">{{ order.shipping_address.phone_number }}</p>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col">
                                                        <small class="text-muted">Billing Info:</small>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Order SubTotal</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">€ {{ order.sub_total }}</p>
                                                    </div>
                                                </div>
                                                {% if order.discount %}
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <p class="mb-0 text-black font-weight-bold">Order Discount</p>
                                                        </div>
                                                        <div class="col-12 col-md-8 text-md-right">
                                                            <p class="mb-0">€ {{ order.discount }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Delivery</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">€ {{ order.delivery_cost }}</p>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                                                    </div>
                                                    <div class="col-12 col-md-8 text-md-right">
                                                        <p class="mb-0">€ {{ order.grand_total }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-5">
                                            <form id="status-form" action="{% url 'change_status' order_id=order.id %}" method="post">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                <input class="btn btn-success" type="submit" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="w-100 d-flex justify-content-center">
                {% if order_list.has_previous %}
                  <a class="mx-2" href="?page=1">First</a>
                  |
                  <a class="mx-2" href="?page={{ order_list.previous_page_number }}">Previous</a>
                {% endif %}
                
                <span class="current-page mx-3">Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}</span>
              
                {% if order_list.has_next %}
                  <a class="mx-2" href="?page={{ order_list.next_page_number }}">Next</a>
                  |
                  <a class="mx-2" href="?page={{ order_list.paginator.num_pages }}">Last</a>
                {% endif %}
              </div>
            {% else %}
            <div class="d-flex align-items-center flex-column justify-content-center px-4">
                <h3 class="text-center my-5">No {{ status|capfirst }} Orders Yet!</h3>
                <a class="like btn btn-danger text-white mx-auto my-5" href="{% url 'orders' %}">
                    Back To Orders Dashboard
                </a>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
