{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block favicon %}
        <link rel="icon" sizes="192x192" href="{% static 'images/favicon/logo192.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/applelogo.png' %}">
        <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" sizes="32x32" href="{% static 'images/favicon/logo32.png' %}">
        <link rel="icon" sizes="16x16" href="{% static 'images/favicon/logo16.png' %}">
        <link rel="icon" sizes="32x32" href="{% static 'images/favicon/logo512.png' %}">
    {% endblock %}   
    
    {% block corecss %}    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link async rel="stylesheet" href="{% static 'css/base.css' %}">  
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2be66b3e41.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>World Vape Center</title>
  </head>
  <body class="d-flex flex-column">

    <header class="container-fluid fixed-top p-0">
      {% block page_header %}
        {% include 'ls-header.html' %}
      {% endblock %}
      {% block extra_header %}
      {% endblock %}
    </header>
  
    <main>
      <nav aria-label="breadcrumb" class="d-none bc-con w-100 mx-0 px-5">
        <ol class="breadcrumb mx-5 bg-light">
        </ol>
      </nav>
      
      {% if messages %}
      
      {% for message in messages %}
      <div class="row position-relative justify-content-end m-0">
        <div class="col-sm-3 col-md-3 position-absolute mr-5">
            <div class="alert bg-{% if not message.tags == 'error' %}{{message.tags}}{% else %}danger{% endif %} mx-auto">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>{{message.tags}}</strong>
                <hr class="message-inner-separator">
                <p>
                  {{ message }}</p>
            </div>
        </div></div>
        {% endfor %}
      
      {% endif %}
      {% block content %}
      {% endblock %}    
    </main>

    <footer id="help">
      {% block page_footer %}
        {% include 'ls-footer.html' %}
      {% endblock %}
    </footer>


 <script>
    {% block postloadjs %}
   
        // Dynamically adjust the top margin of the main section based on the header's height
    $(document).ready(function() {

      $('.sub').click(function(e) {
        e.preventDefault();
        let nlMsg = $('.nl-msg')
        nlMsg.empty()

        let url = $(this).data('url')

        $.ajax({
            type: 'POST',
            url: url,
            data: $('#nl_form').serialize(),
            success: function(data) {
               
                if (data.success) {
                  nlMsg.prepend('<div class="bg-success text-white"><p>' + data.message + '</p></div>');
                } else {
                  console.log(data.message)
                  nlMsg.prepend('<div class="bg-danger text-white"><p>' + data.message + '</p></div>');
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                nlMsg.prepend('<div class="bg-danger text-white"><p>An error occurred. Please try again.</p></div>');
            }
        });
      });

            
        
            function adjustMainSectionMargin() {
                var headerHeight = $('header').outerHeight();
                $('main').css('margin-top', headerHeight + 'px');
            }
            
            adjustMainSectionMargin();


            function breadcrumbsList() {
              const breadcrumbContainer = $('.breadcrumb');
              let homeItem = null;
              if (!breadcrumbContainer.length) {
                  console.error('Breadcrumb container not found');
                  return;
              }
          
              const path = window.location.pathname;
              const pathParts = path.split('/').filter(Boolean);
              if(pathParts.length > 0){
                $('.bc-con').addClass('d-lg-inline')
                homeItem = $('<li>', { class: 'breadcrumb-item' });
                let homeLink = $('<a>', { href: '/', text: 'Home' });
                homeItem.append(homeLink);

              }else{
                $('.bc-con').removeClass('d-lg-inline')
              }
          
              renderBreadcrumbs(breadcrumbContainer, pathParts, homeItem);
          }
          
          function renderBreadcrumbs(container, pathParts, homeItem) {
              container.empty();
          
              let currentPath = '';
              pathParts.forEach((part, index) => {
                  currentPath += `/${part}`;
          
                  const breadcrumbItem = $('<li>', { class: 'breadcrumb-item' });
                  let link = $('<a>', { href: currentPath, text: part });
          
                  if (index === pathParts.length - 2) {
                      link = $('<p>', { text: part });
                      link.addClass('text-dark d-inline');
                  } else {
                      link.addClass('text-dark');
                  }
          
                  breadcrumbItem.append(link);
                  container.append(breadcrumbItem);
                  if(homeItem){
                    container.prepend(homeItem);
                  }

              });
          }
          
      
          breadcrumbsList();
          
      });
    {% endblock %} 

</script>
{% block extra_postloadjs %}  
{% endblock %}    
  </body>
</html>