{% load static %}
<div class="footer" id="footer-sub">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <h5>HELP</h5>
        <ul>
          <li>
            <a href="{% url 'payments_options' %}">Payments</a>
            <hr>
          </li>
          <li>
            <a href="{% url 'delivery_info' %}">Delivery Info</a>
            <hr>
          </li>
          <li>
            <a href="{% url 'about_us' %}">About Us</a>
            <hr>
          </li>
          <li>
            <a href="{% url 'terms' %}">Terms & conditions</a>
            <hr>
          </li>
          <li>
            <a href="{% url 'returns_policy' %}">Returns Policy</a>
            <hr>
          </li>
          <li>
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            <hr>
          </li>
          <li>
            <a href="{% url 'sitemap_html' %}">Sitemap</a> 
            <hr>
          </li>
          <li>
            <a href="{% url 'faq' %}">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <h5 class="mb-4">NEWS LETTER</h5>
        <div class="nl-msg"></div>
        <form id="nl_form" method="post">
          {% csrf_token %}
          <div class="nl-input-con">
            {{ newsletter_form.as_p }}
          
            <button data-url="{% url 'subscribe_newsletter' %}"  class="sub btn btn-success mb-3">Subscribe</button>
          </div>
        </form>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <h5>CONTACT INFO</h5>
        <ul>
          <li>
            <p>
              <strong>Address: </strong><i class="fa-solid fa-location-dot"></i><br> 123 Main Street, <br>Cityville, <br>State, <br>Zip Code
            </p>
          </li>
          <li>
            <p>
              <strong>Phone:</strong> <i class="fa-solid fa-phone"></i><br><a href="tel:+1234567890">+1234567890</a>
            </p>
          </li>
          <li>
            <p>
              <strong>Email:</strong> <i class="fa-regular fa-envelope"></i><br> <a href="mailto:giftsforyou83@gmail.com">giftsforyou83@gmail.com</a> 
            </p>
          </li>
        </ul>
      </div>
      
      <div class="col-12 col-sm-6 col-lg-3">
        <h5>FREE DELIVERY</h5>
        <ul>
          <li>
            <p>
              Purchase anything over €40 & get free delivery anywhere in Ireland!
            </p>
          </li>
          <li>
            <p>
              <strong>YOU MUST BE 18+ TO PURCHASE ANYTHING ON THIS SITE</strong>
            </p>
          </li>
          <li>
            <p>
              <strong>Company Registration </strong><p class="mb-0">No.: 1234
            </p>
          </li>
          <li>
            <p>
              <strong>VAT Registration </strong> <p class="mb-0">No.: 1234
            </p>
          </li>
        </ul>
      </div>
    </div>

    <hr style="margin-bottom: 0px; margin-top: 30px; padding: 0px">
    <div class="row" id="sub-two">
      <div class="col-md-4">
        <div class="vertical-line text-center">
          <span class="fa-solid fa-location-dot text-dark h2"></span>
          <h4>TRACK YOUR ORDER</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="vertical-line text-center">
          <span class="fa-solid fa-arrows-rotate text-dark h2"></span>
          <h4>FREE & EASY RETURNS</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div style="margin: 8px" class="text-center">
          <span class="fa-regular fa-circle-xmark text-dark h2"></span>
          <h4 style="color: #6d6c6c">ONLINE CANCELLATIONS</h4>
        </div>
      </div>
    </div>
    <hr style="margin-bottom: 30px; margin-top: 0px; padding: 0px">
  </div>
</div>
<div class="row p-3 m-0 flex-column-reverse flex-sm-row" id="footer-main">
  <div class="text-white text-center text-sm-left col-12 col-sm-6 my-auto">
    <h4 class="text-white"><i class="fa-regular fa-copyright"></i> WORLD VAPE CENTER</h4>
  </div>
  <hr class="my-4 bg-light d-sm-none border">
  <div class="col-12 col-sm-6">
    <ul class="d-flex justify-content-center justify-content-sm-end list-unstyled my-auto">
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/people/World-Vape-Center-Carlow/100031348585629/"><img style="max-width: 50px;" alt="facebook logo" src="{% static 'fb.webp' %}"></a>
        </li>
    </ul>
  </div>
</div>
