{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home' %}"><img class="logo ml-2" src="{% static 'logo.webp' %}" alt="logo"><p class="d-none d-lg-inline ml-2">World Vape Center</p></a>
  <div class="d-flex ml-auto">
    <a class="text-white mt-2 position-relative d-flex d-lg-none mx-0" href="{% url 'cart-summary' %}">
      <i class="fa fa-shopping-cart h4 text-success"></i>
      <span class="cart-qty badge badge-light position-absolute">
        {% with qty_amount=cart|length %}
            {% if qty_amount > 0 %}
                {{ qty_amount }}
                {% else %}
                    0
            {% endif %}
        {% endwith %}
      </span>
      <span class="ml-2 cart-total">€ {{ cart.get_grand_total }}</span>
    </a>
    <span class="h4 mx-2 text-white d-flex d-lg-none">|</span>

    <p class="h5 my-auto d-inline ml-1 text-white d-lg-none">
      {% if user.is_authenticated %}
        {{ user }}      
      {% else %}
        <a href="{% url 'account_login' %}" class="btn text-white">
          <i class="fas fa-user-plus fa-2x"></i>             
        </a>
      {% endif %}
    </p>
  </div>
  
  <div class="collapse navbar-collapse main-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if '/' == request.path %}active{% endif %}" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'products' in request.path %}active{% endif %}" href="{% url 'categories' %}">Products</a>
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
          <a class="nav-link {% if 'tickets' in request.path %}active{% endif %}" href="{% url 'profile' 'open_ticket' %}">Open Ticket</a>
        {% else %}
          <a class="nav-link {% if 'contact' in request.path %}active{% endif %}" href="{% url 'contact_us' %}">Contact Us</a>
        {% endif %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#help">Help</a>
      </li>
      {% if user.is_authenticated %}
        {% if request.user.is_superuser %}
          <li class="nav-item d-lg-none">
            <a href="{% url 'admin:index' %}" class="nav-link">
              Admin
            </a>
          </li>
        {% endif %}
        {% if request.user.is_staff %}
          <li class="nav-item d-lg-none">
            <a href="{% url 'orders' %}" class="nav-link">
              Dashboard
            </a>
          </li>
        {% endif %}
        <li class="nav-item d-lg-none">
          <a href="{% url 'profile' %}" class="nav-link">
            Profile
          </a>
        </li>
        <li class="nav-item d-lg-none">
          <a href="{% url 'account_change_password' %}" class="nav-link">
            Change password
          </a>      
        </li>
        <li class="nav-item d-lg-none">
          <a href="{% url 'account_email' %}" class="nav-link">
            Email Settings
          </a>      
        </li>
        <li class="nav-item d-lg-none">
          <div class="dropdown-divider"></div>
          <a href="{% url 'account_logout' %}" class="nav-link">
            Logout
          </a>           
        </li>
      {% else %}
      <li class="nav-item d-lg-none">
        <div class="dropdown-divider"></div>
        <a href="{% url 'account_login' %}" class="nav-link">
          Sign In          
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
      <button class="search-btn d-none d-lg-flex btn mt-2" aria-label="Search bar toggle">
        <i class="fas fa-search h4"></i>
      </button>
      <span class="h2 mx-2 text-white d-none d-lg-flex">|</span>

    <div class="dropdown d-none d-lg-flex">
        {% if user.is_authenticated %}
          <a class="dropdown-toggle text-white d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Account dropdown button">
            {% if user.profile.image %}
              <img class="logo" src="{{ user.image.url }}" alt="logo" />            
            {% else %}
              <i class="fa-regular fa-circle-user h3 m-0"></i>            
            {% endif %}
            <p class="h5 my-auto d-inline ml-1">{{ user }}</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="dropdown-item">
                  Admin
                </a>
            {% endif %}
            {% if request.user.is_staff %}
                <a href="{% url 'orders' %}" class="dropdown-item">
                  Dashboard
                </a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">
              Profile
            </a>
            <a href="{% url 'account_change_password' %}" class="dropdown-item">
              Change password
            </a>
            <a href="{% url 'account_email' %}" class="dropdown-item">
              Email Settings
            </a>
            <div class="dropdown-divider"></div>
              <a href="{% url 'account_logout' %}" class="dropdown-item">
                Logout
              </a>      
            </div>
        </div>
        {% else %}
          <a href="{% url 'account_login' %}" class="btn text-white" aria-label="Sign in or sign up">
            <i class="fas fa-user-plus fa-2x"></i>         
          </a>
        {% endif %}
  
      <span class="h2 mx-2 text-white d-none d-lg-flex">|</span>

      <button class="text-white mt-2 position-relative d-none d-lg-flex mx-0 btn" id="cart-btn" data-toggle="modal" data-target="#cart-modal">
        <i class="fa fa-shopping-cart h4 text-success"></i>

        <span class="cart-qty badge badge-light position-absolute">
        {% with qty_amount=cart|length %}
            {% if qty_amount > 0 %}
                {{ qty_amount }}
                {% else %}
                    0
            {% endif %}
        {% endwith %}
      </span>

      <span class="ml-2 cart-total">€{{ cart.get_grand_total }}</span>
    </button>

    <div class="modal fade" id="cart-modal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="cart-btn" aria-hidden="true">
      <div class="modal-dialog float-right" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Shopping cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if cart|length > 0 %}
            <div class="mt-5 mt-lg-0">
              <div class="card border shadow-none">
                  <div class="card-header bg-transparent border-bottom py-3 px-4">
                      <h5 class="font-size-16 mb-0">
                          Order Summary <span class="float-end">(#{{ cart.get_order_num }})</span>
                      </h5>
                  </div>
                  <div class="card-body p-4 pt-2">
                      {% for item in cart %}
                          <div class="row mb-4">
                              <div class="col-2 mb-1">
                                  <a href="{% url 'product_details' item.product.category.slug item.product.id %}">
                                      {% if item.product.image %}
                                          <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                      {% else %}
                                          <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                      {% endif %}
                                  </a>
                              </div>
                              <div class="col-6">
                                  <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                  <p class="my-0 small">{% if item.product.options_name %}{{ item.product.options_name |upper }}: {{ item.product_choice|upper }}{% endif %}</p>
                                  <p class="my-0 small text-muted">Qty: {{ item.qty }}</p>
                              </div>
                              <div class="col-2 text-right text-nowrap">
                                  <p class="my-0 small text-muted">€ {{ item.total }} </p>
                              </div>
                          </div>
                      {% endfor %}
                      <div class="table-responsive">
                          <table class="table mb-0">
                              <tbody>
                                  <tr>
                                      <td>Sub Total :</td>
                                      <td class="text-end">€ {{ cart.get_subtotal }}</td>
                                  </tr>
                                  {% if cart.get_discounted_total %}
                                      <tr>
                                          <td>Discount :</td>
                                          <td class="text-end">€ {{ cart.get_discounted_total }}</td>
                                      </tr>
                                  {% endif %}
                                 
                                  <tr>
                                      <td>Shipping Charge :</td>
                                      <td class="text-end">{% if cart.get_delivery_cost %}€ {{ cart.get_delivery_cost }}{% else %}<span class="h6 text-success">Free Delivery</span>{% endif %}</td>
                                  </tr>
                                  <tr class="bg-light">
                                      <th>Total :</th>
                                      <td class="text-end">
                                          <span class="fw-bold">€ {{ cart.get_grand_total }} </span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <!-- end table-responsive -->
                  </div>
              </div>
          </div>    
          {% else %} 
          <h3>Your Cart is Empty</h3>
          {% endif%}
        </div>
          <div class="modal-footer">
            {% if cart|length > 0 %}
              <button type="button" class="w-25 btn btn-info mr-auto font-weight-bold" data-dismiss="modal" aria-label="Close">
                <i class="mdi mdi-arrow-left"></i> 
                Close
              </button>    
              <a href="{% url 'cart-summary' %}" class="btn btn-success font-weight-bold w-25">                 
                <i class="mdi mdi-cart-outline me-1"></i> 
                 Cart
                <i class="mdi mdi-arrow-right"></i> 
              </a> 
            {% else %}
            <button type="button" class="w-50 btn btn-info mr-auto font-weight-bold" data-dismiss="modal" aria-label="Close">
              &lt; Close
            </button>      
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-2 my-lg-0 w-100 d-lg-none">
    <div class="w-100 d-flex flex-dir-row">
      <input type="text" class="w-100" placeholder="Search..." id="mob-search-input">
      <div class="input-group-append">
        <div value="Search" disable class="btn btn-secondary btn-number">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </div>
</nav>

{% include 'includes/search-form.html' %}


