{% extends "base.html" %} 
{% load static %} 
{% load custom_filters %}


{% block extra_css %}
    <link async rel="stylesheet" href="{% static 'products/css/product-details.css' %}">  
{% endblock %}
{% block extra_js %}
    <script src="{% static 'products/js/product-details.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        
                        <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                        </div>
                       
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <div class="rating">
                            <div class="stars">
                                {% for i in "12345"|make_list %}
                                    {% with i|add:0 as integer_value %}
                                        {% if integer_value <= product.rating %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% else %}
                                                <i class="fa fa-star"></i>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                            <span class="review-no">{{ product.num_reviews }} reviews</span>
                        </div>
                        <p class="product-description">{{ product.description }} </p>
                        <h4 class="price">current price: <span>{{ product.price }} </span></h4>
                        <h5 class="sizes">ML:
                            <span class="size" data-toggle="tooltip" title="small">s</span>
                            <span class="size" data-toggle="tooltip" title="medium">m</span>
                            <span class="size" data-toggle="tooltip" title="large">l</span>
                            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                        </h5>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container pt-3">
    <hr/>
	<div class="row" style="margin-top:40px;">
		<div class="col-md-6">
    	<div class="well well-sm">
            <div class="text-right">
                {% if user.is_authenticated %}
                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                {% else %}
                <a class="btn btn-danger btn-red" href="{% url 'account_login' %}" id="open-review-box">Sign in to leave review</a>
                {% endif %}
            </div>
        
            <div class="row" id="post-review-box" style="display:none;">
                <div class="col-md-12">
                    <form id='review-form' data-url='{% url "post_review" product_id=product.id %}'>
                        {% csrf_token %}
                        <input id="ratings-hidden" name="rating" type="hidden"> 
                        <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
        
                        <div class="text-right">
                            <div class="stars starrr" data-rating="0"></div>
                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                            <button class="btn btn-success btn-lg" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
         
		</div>
        <div class="col-sm-6">

            {% for review in reviews %}

            <div class="review-block">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{review.product.image.url}}" class="img-rounded">
                        <div class="review-block-name"><a href="#">{{ review.name }}.</a></div>
                        <div class="review-block-date">{{ review.created_at }}</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="review-block-rate">
                            {% for i in "12345"|make_list %}
                            {% with i|add:0 as integer_value %}
                                {% if integer_value <= review.rating %}
                                    <span class="glyphicon glyphicon-star text-warning" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                           
                        </div>
                        <div class="review-block-title">{{ review.product.name }}</div>
                        <div class="review-block-description">{{ review.comment }}</div>
                    </div>
                </div>
                <hr/>
                {% endfor %}

            
</div>

{% endblock %}
