{% extends "base.html" %} 
{% load static %} 
{% load mathfilters %} 

{% block extra_meta %}
    <meta name="description" content="Explore our diverse range of vape products at the World Vape Center. Find high-quality e-cigarettes, flavorful e-liquids, and stylish accessories. Discover the perfect vaping solutions to suit your preferences.">
    <meta name="keywords" content="{{ category }}, vape products, e-cigarettes, e-liquids, vaping accessories, high-quality vapes, stylish vape devices">
{% endblock %}

{% block extra_title %}- Products{% endblock %}

{% block content %}
<div class="mx-auto">
    <div class="w-full bg-tertiaryBackground h-32 flex rounded-lg my-10">
        <h1 class="text-lg md:text-2xl font-semibold p-10 text-white font-montserrat">{%  if category  %}{{category.name|capfirst}} {% else %}  Search Results  {% endif %}</h1>
    </div>
    {% if category.description %}
        <div class="flex flex-row justify-center mb-10">
            <p class="text-md ">{{ category.description }}</p>
        </div>
    {% endif %}
    
    <div class="flex flex-row justify-center mb-5">
        <div class="fixed top-0 w-full h-full bg-black opacity-50 filter-overlay hidden"></div>
            
        <div class="z-10 z-0 absolute transform -translate-x-full lg:translate-x-0 transition-transform duration-300 left-0 w-2/3 lg:relative xl:flex lg:w-1/5 p-0 filter-mobile overflow-auto h-full">
            {% include 'includes/filters.html' with category=category %}
        </div>
        <div class="w-full lg:w-4/5">
            <div class="bg-white p-0">
                <div class="border-b py-2">
                    <div class="flex flex-wrap">
                        <div class="flex items-center">
                            <button class="filter-btn block lg:hidden"><i class="fa-solid fa-filter"></i> Filter</button>
                        </div>
                       
                        <div class="flex items-center justify-end ml-auto">
                            <form method="get" action="{% url 'products_list_by_category' category %}">
                                <label for="items_per_page" class="font-medium">Items per page:</label>
                                <select name="items_per_page" id="items_per_page" class="ml-2 text-black border w-24 cursor-pointer rounded" onchange="this.form.submit()">
                                    <option value="24" {% if items_per_page == 24 %}selected{% endif %}>24</option>
                                    <option value="36" {% if items_per_page == 36 %}selected{% endif %}>36</option>
                                    <option value="48" {% if items_per_page == 48 %}selected{% endif %}>48</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
                    {% for product in products %}
                        {% include 'includes/product_card.html' %}
                    {% empty %}
                        <div class="w-full flex justify-center text-center items-center h-96 col-span-4">
                            <h2 class="text-2xl font-semibold w-fit mx-auto">No products found.</h2>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="border p-3">
                    <div class="flex justify-center space-x-2">
                        {% if products.has_previous %}
                            <a class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-lg transition duration-300" href="?page={{ products.previous_page_number }}">&lt;&lt; previous</a>
                        {% endif %}
                        <span class="lg:hidden">Page {{ products.number }} of {{ products.paginator.num_pages }}.</span>
                        <div class="hidden lg:flex space-x-2">
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <span class="border rounded p-2 bg-blue-500 text-white">{{ i }}</span>
                                {% elif i > products.number|sub:3 and i < products.number|add:3 %}
                                    <a class="border rounded p-2 bg-blue-500 text-white" href="?page={{ i }}">{{ i }}</a>
                                {% elif i == products.paginator.num_pages or i == 1 %}
                                    <a class="border rounded p-2 bg-blue-500 text-white" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                                {% if i == 1 and products.number > 4 or i == products.paginator.num_pages|sub:1 and products.number < products.paginator.num_pages|sub:3 %}
                                    <span class="ellipsis">…</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if products.has_next %}
                            <a class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-lg transition duration-300" href="?page={{ products.next_page_number }}">next &gt;&gt;</a>
                        {% endif %}
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_postloadjs %}  
<script>
    document.getElementById('items_per_page').addEventListener('change', function() {
        const selectedValue = this.value;
        const currentUrl = window.location.href;
        const updatedUrl = new URL(currentUrl);
        updatedUrl.searchParams.set('items_per_page', selectedValue);
        window.location.href = updatedUrl.toString();
    });  
</script>

<script src="{% static 'products/js/filter.js' %}"></script>
<script src="{% static 'products/js/fav_btn.js' %}"></script>

{% endblock %}  
