{% extends "base.html" %} 
{% load static %} 
{% load custom_filters %} 

{% block extra_css %}
    <link async rel="stylesheet" href="{% static 'products/css/product-details.css' %}" />
{% endblock %} 

{% block extra_js %}
    <script src="{% static 'products/js/add-to-cart.js' %}"></script>
    <script src="{% static 'products/js/product-details.js' %}"></script>
{% endblock %} 

{% block content %}
<div class="container">
    <div class="card  bg-white">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="{{product.image.url}}" />
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <div class="d-flex justify-content-between">
                        <h5 class="font-weight-bold text-info">{{ product.brand.name }}</h5>
                        <div class="d-inline">
                            {% include 'components/ratings.html' with product=product %}
                            <span class="text-info">{{ product.num_reviews }} reviews</span>
                        </div>
                    </div>
                    <hr>
                    <div class="my-2">
                        <h5 class="text-muted">Description</h5>
                        <p class="product-description">{{ product.description }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        {% if product.discounted_price %}
                            <h5 class="mb-0 mt-2">€ {{product.discounted_price }} - <span class="text-muted me-2"><del class="font-size-16 fw-normal">€ {{product.price }}</del></span></h5>
                        {% else %}
                            <h4 class="price text-muted">Price: <span class="price-amount">€ {{ product.price }} </span></h4>
                        {% endif %}
                        <div class="w-100 mb-4">
                            <p class="text-muted mb-2">Quantity</p>
                            <div class="d-inline-flex">
                                <select id="select{{product.id}}"
                                    class="form-select form-select-sm w-xl">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>     
                        {% if product.choices %}                       
                            {% include 'components/options.html' %}
                        {% endif %}
                    </div>
                    <div class="action">
                        <button
                            data-url="{% url "cart-add" %}"
                            class="add-to-cart btn btn-default"
                            data-csrf="{{csrf_token}}"
                            value="{{product.id}}"
                            type="button">
                            add to cart
                        </button>
                        <button class="like btn btn-default" type="button">
                            <span class="fa fa-heart"></span>
                        </button>
                    </div>
                    <div class="row my-4">
                        <div class="col-6 col-sm-6">
                            <a href="{% url 'categories' %}" class="btn btn-info text-white font-weight-bold text-nowrap">
                                <i class="mdi mdi-arrow-left"></i> Continue Shopping
                            </a>
                        </div>
                        <!-- end col -->
                        <div class="col-7 col-sm-6">
                            <div class="ml-5 mt-sm-0">
                                <a href="{% url 'cart-summary' %}" class="btn btn-success font-weight-bold">
                                    <i class="mdi mdi-cart-outline me-1"></i> Cart
                                    <i class="mdi mdi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-3">
    <hr />
    <div class="row" style="margin-top: 40px">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="text-right">
                    {% if user.is_authenticated %}
                    <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box"
                        >Leave a Review</a>
                    {% else %}
                    <a class="btn btn-danger btn-red"
                        href="{% url 'account_login' %}"
                        id="open-review-box">
                        Sign in to leave review</a>
                    {% endif %}
                </div>

                <div class="row" id="post-review-box" style="display: none">
                    <div class="col-md-12">
                        <form
                            id="review-form"
                            data-url='{% url "post_review" product_id=product.id %}'>
                            {% csrf_token %}
                            <input id="ratings-hidden" name="rating" type="hidden" />
                            <textarea
                                class="form-control animated"
                                cols="50"
                                id="new-review"
                                name="comment"
                                placeholder="Enter your review here..."
                                rows="5"></textarea>

                            <div class="text-right">
                                <div class="stars starrr" data-rating="0"></div>
                                <a
                                    class="btn btn-danger btn-sm"
                                    href="#"
                                    id="close-review-box"
                                    style="display: none; margin-right: 10px">
                                    <span class="glyphicon glyphicon-remove"></span>Cancel</a
                                >
                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 reviews-list">
           {% include 'components/reviews.html' with reviews=reviews %}
        </div>
            
        </div>
    </div>
</div>
{% endblock %}

